.kaufman {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 90px 0;
    overflow: hidden;
    background-color: #1f1f1f;
    position: relative;
  }