@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} 
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.15; /* 1 */
 /*он не работает почему-то, но если я пишу вместо .page - body, то все сразу начинает работать, непонятна
 это схема, как в целом и проблема не ясна, прописывал еще другие параметры, но тоже бестолку гуглил, там писали про
 класс враппер, но какой от него смлысл, если у нас обертка такая же только название другое*/
}































