.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  
}

.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  align-self: center;
  width: 730px;
  padding-left: 64px;
  
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 3;
  
}
.link {
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  z-index: 0;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  
  min-height: 365px;

  
}

.two-columns__brief {
  width: 100%;
  max-width: 175px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 30px;
  line-height: 1.2;
  color: #488fef;

  
}

.two-columns__main-text {
  font-size: 24px;
  font-weight: 100;
  width: 80%;
  line-height: 34px;  
}

.two-columns__paragraph {
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;

}

.two-columns__main-text div:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}


.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 100px 0;
  
}

.digits__selection-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}


.digits__selection-subtitle {
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 1100px;
  list-style-type: none;
  padding-left: 0;
  
  
}

.digits__table-cell {
  
  margin-top: 60px;
  width: 250px;
}

.digits__table-cell-headind {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.digits__table-cell-text {
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  
}

.digits__table-cell-text-paragraph {
  margin-bottom: 0;
}

.feynman{
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  
  padding: 100px 0;
  
  min-height: 690px;
  background-color: #f2f2f2;

}

.feynman__title {
  max-width: 648px;
  z-index: 1;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  
}

.feynman__subtitle {
  margin: 70px auto 0;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  /*transform: translate(0, -50%);*/
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  
  color:#2f80ed;
}

   
.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
}

.kaufman__selection-title_theme_dark {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  color: white;
  margin: 0 auto;
}


.kaufman__selection-subtitle_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  padding-bottom: 0;
}

.kaufman__table_theme_dark {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 1050px;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  
}

.kaufman__table-cell_theme_dark {
  
  margin-top: 80px;
  width: 200px;
  z-index: 2;
}

.kaufman__table-cell-headind_theme_dark {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  color: white;
  margin-top: 0;
}

.kaufman__table-cell-text_theme_dark {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
  color: white;
  margin-bottom: 0;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -220px;
  width: 877px;
  height: 877px;
  
  z-index: 1;
}

.footer {
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color: white;
  
}



.footer__columns {
  min-height: 300px;
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer__column_content_copyright {
  width: 50%;
  
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  
  width: 228px;
  height: 32px;

  
}



.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin:18px 0;
  
}



.footer__column_heading {
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
}


.footer__column_links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  
  
  
}
.footer__column_link {
  text-decoration: none;
  color: white;
  
  
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer_column_links li:not(:last-child) {
  margin-bottom: 10px;
}