
.khan__book-pic {
    max-width: 620px;
    max-height: 608px;
    margin: 0;
    object-fit: cover; /*тут у меня возник вопрос, достаточно долгое время просидел
    в брифе по ощущению занимает четкие данные размеры, но если я указываю просто 
    длину и ширину, то картинку плющит и как раз object-fit никак не помогает, то есть если я 
    ему задаю контейн, то у меня появляется сбоку отступ, которого нет в брифе, но иначе картинку просто
    плющит и вот тогда я решил сделать эти параметры макс и мин, подскажи пожалуйста правильно это или
    нужно было как-то иначе делать и я вообще не в ту степь копал?*/
  }